body {
  margin: 0;
  padding: 0;
  background-image: url("https://i1.wallbox.ru/wallpapers/small/201334/17dbe8d38249c7c.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
